<toolbar [title_page]='title_page' 
         [logged]='logged'
         [loading]='loading.loading_page'></toolbar>

<ion-content padding class="margin_top">
  <button ion-button full *ngIf="!status" (click)="ingresar()">Ingresar</button>
  <button ion-button full color="danger" *ngIf="status" (click)="salida()">Salir</button>
  <div *ngFor="let item of schedules">
    <h2 *ngIf="item.schedule.length > 0">{{ item.date }}</h2>
    <div *ngFor="let schedule of item.schedule">
      <div class="inline">
        <p>{{schedule.in}}</p>
        <p>{{schedule.in_status}}</p>
      </div>
      <div class="inline">
        <p>{{schedule.out}}</p>
        <p>{{schedule.out_status}}</p>
      </div>
    </div>
  </div>
</ion-content>